*{
  padding:0;
  margin:0;
}

body {
  width: 100%;
  *cursor: default;
  overflow: hidden;
  font: 16px/1.5 "Microsoft YaHei",Helvetica,STHeiti STXihei,Microsoft JhengHei,Arial;
  ul {
    list-style: none;
  }
}
.page {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  .contain {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    z-index: 0;
    nav{
      img{
        display:block;
        width:3%;
        margin:10px;
      }
    }
    .intro{
      display:flex;
      flex-flow: wrap row;
      justify-content: center;
      text-align: center;
      h1{
        color:black;
        text-shadow: 0 1px hsl(0,0%,85%),  /* 文字凸起效果 */
                     0 2px hsl(0,0%,80%),
        0 3px hsl(0,0%,75%),0 4px hsl(0,0%,70%),0 5px hsl(0,0%,65%),0 6px hsl(0,0%,55%);
      }
      h3{
        margin-top:1em;
      }
      h2{
        margin-top:1em;
      }
      h6{
        margin-top:3em;
      }
      img{
        border-radius:50%;
        width:30%;
      }
    }
    .pie {
      width: 20em;
      height: 20em;
      display: inline-block;
      padding-left:3em;
      margin: 10px;
      transform: rotate(-90deg);
      .animated circle {
        animation: grow 2s infinite linear;
      }
    }
    svg {
      background:#BAC3E2;
      border-radius: 50%;
    }

    circle {
      fill:#BAC3E2;
      stroke: #4473C5;
      stroke-width: 32;
    }
    .skill{
      display:flex;
      flex-flow: wrap row;
      justify-content: center;
    }
  }
}
#pageContain {
  overflow: hidden;
}
.current .contain,.slide .contain {
  display: block;
}
.current {
  display: block;
  z-index: 1;
}
.page1 {
  background: #fff;
}
.page2 {
  background: #aaa;
  background-image: repeating-linear-gradient(30deg,
          hsla(0,0%,100%,.1), hsla(0,0%,100%,.1) 15px,
          transparent 0, transparent 30px);
  height: 100vh;
    h1{
      color:blue;
      transition:1s;
      text-align: center;
    }
  h1:hover{
      text-shadow:0 0 .1em,0 0 .3em;
  }
  #skill{
    padding-left:45%;
  }
}
.page3 {
  background: #aaa;
  background-image: repeating-linear-gradient(30deg,
          hsla(0,0%,100%,.1), hsla(0,0%,100%,.1) 15px,
          transparent 0, transparent 30px);
  height: 100vh;
  h1{
    color:blue;
    transition:1s;
    text-align: center;
  }
  h1:hover{
    text-shadow:0 0 .1em,0 0 .3em;
  }
  #exp{
    padding-left:45%;
  }
  .exp-block{
    font-size:2em;
    h4{
      color:#fff;
    }
    margin-top:2em;
  }
}
.page4 {
  background: #eee url('data:image/svg+xml,\
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill-opacity=".25" >\
            <rect x="50" width="50" height="50" />\
            <rect y="50" width="50" height="50" />\
            </svg>');
  background-size: 200px 200px;
  h1{
    color:blue;
    transition:1s;
    text-align: center;
  }
  h1:hover{
    text-shadow:0 0 .1em,0 0 .3em;
  }
  #me{
    padding-left:45%;
  }
  .note{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    padding:10em;
    h6{
      font-size:200%;
    }
  }
  p{
    color:black;
  }
}
p {
  width: 200px;
  height: 100px;
  color:#fff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -50px;
  opacity: 1;
  transition: all .8s ease;
  transform-origin: 50% 50%;
}
.slide {
  display: block;
  z-index: 2;
}
.swipe {
  display: block;
  z-index: 3;
  transition-duration: 0ms !important;
  -webkit-transition-duration: 0ms !important;
}

#navBar {
  z-index: 3;
  position: absolute;
  top: 10%;
  right: 3%;
  .active {
    background: #ccc;
  }
  li {
    cursor: pointer;
    margin-bottom: 2px;
    transition: all .7s ease;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    width: 1em;
    height: 1em;
  }
}

.step1 p {
  transform: translate(0, -50px);
  -webkit-transform: translate(0, -50px);
}
.step2 p {
  opacity: 0;
  transform: scale(2);
  -webkit-transform: scale(2);
}
.step3 p {
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}
.step4 p {
  -webkit-transform: rotate(360deg) translate(0,-200px) scale(.3);
  transform: rotate(360deg) translate(0,-200px) scale(.3);
  opacity: 0;
}
.mask{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
  background: #616161;
  opacity: 0.5;
  display:none;
}
.float-layer{
  display:none;
  font-size:2em;
  list-style-type: none;
  dd{
    margin:1em;
    color:orangered;
  }
}