thead{
    background: black;
}
table tbody tr:nth-child(2n+1){
    background:#CDCDCD;
}
table tbody tr:nth-child(-n+3) {
    color: red;
}
table thead{
    color:white;
}
/* input */
input{
    transition-property:width;
    transition-duration:2s;
    transition-timing-function:linear;
    width:100px;
}
input:focus{
    width:200px;
}


ul,ol{
    padding:0;
    margin:0;
}
#banner{
    position: relative;
    width:400px;
    height:200px;
    margin-bottom: 200px;
    overflow: hidden;
}

#banner .banner-img{
    width:100%;
    height:100%;
    position: relative;
    /*left:-100%;*/
}

#banner .banner-img li{
    width:100%;
    height:100%;
    position: absolute;
    transition: 2s;
}

#banner .banner-img li:nth-of-type(1){
    background: #e74f4d;

}
#banner .banner-img li:nth-of-type(2){
    background: #3060aa;
}
#banner .banner-img li:nth-of-type(3){
    background: #37acee;
}

@keyframes move{
    0% {
        left:-100%;
    }
    100% {
        left:0%;
    }
}

#banner .banner-btn{
    position: absolute;
    bottom:0px;
    right:0px;
}

.show{
    z-index: 2;
}

#banner .banner-btn li{
    width:30px;
    height:30px;
    background: rgba(256,256,256,0.5);
    float: left;
    margin-left: 1px;
    line-height: 30px;
    text-align: center;
    position: relative;
    z-index: 5;
}
#banner .banner-btn li a{
    display: block;
    width:100%;
    height:100%;
    text-decoration: none;
}


li:target{
    z-index: 3;
    animation:move 1s linear;
}

li{
    list-style: none;
}