*{
    margin:0;
    padding:0;
    font-family: "Microsoft YaHei",sans-serif;
}
/*     header   */
header{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
}
.logo img{
    padding-top:10px;
}
.logo p{
    font-size:26px;
    float:right;
    line-height:50px;
    font-weight: bold;
}
.main-nav ul{
    padding-left:400px;
}
.main-nav li{
    list-style-type: none;
    float:left;
    padding-left:20px;
    line-height:30px;
    font-weight: bold;
    line-height:40px;
    text-align: center;
}
.nav1:hover,.nav3:hover,.nav2:hover,.nav4:hover,.nav5:hover{
    border-bottom:2px solid red;
}

.login p{
    float:right;
    line-height:40px;
    color:orange;
}
.login img{
    padding-top:10px;
}
.banner {
    background:url(../images/task7/banner.jpg) no-repeat center;
    height:624px;
    opacity: 0.7;
    background-size:cover;
}
.banner h4{
    font-size:70px;
    color:white;
    padding-bottom:10px;
}
.banner h6{
    font-size:30px;
    color:#eee;
    padding-bottom:10px;
}
.banner button{
    width:250px;
    height:50px;
    background: red;
    border-style: none;
    color:white;
    font-size:22px;
}
.text-box{
    max-width: 1280px;
    margin: 0px auto;
    padding-left: 110px;
    padding-top:200px;
}
.slogan{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    padding:80px;
}
.slogan p{
    font-size:14px;
    color:#777;
    text-align:center;
}
.slogan1 img{
    padding-left:55px;
}
.slogan2 img{
    padding-left:60px;
}
.slogan3 img{
    padding-left:55px;
}
.slogan4 img{
    padding-left:90px;
}
.some{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    background:#EDEDEC;
    padding:100px 0px;
}
.some img{
    height:80px;
    display:block;
    width:80px;
}
.some p{
    font-size:40px;
    line-height:80px;
    color:#909090;
    padding-left:20px;
}
.search{
    background:url(../images/task7/banner2.png) no-repeat center;
    background-size:cover;
    height:300px;
}
.search form{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.search form select{
    width:200px;
    height:40px;
    border-radius: 5px;
}
.btn{
    background: red;
    border-style: none;
    width:200px;
    height:40px;
    border-radius: 5px;
    color:white;
    font-size:16px;
}
.search p{
    text-align:center;
    padding-top:40px;
}
.search-text1{
    font-size:26px;
    color:white;

}
.search-text2{
    font-size:12px;
    color:white;
    padding-top:30px;
}
.from-border{
    width:180px;
    height:30px;
    background:white;
}
.from-border input{
    width:180px;
    height:30px;
    background: url(../images/task7/check.gif) no-repeat right;
    display:inline-block;
    line-height:20px;
    border-style: none;
    color:#555;
    placeholder:"国家"
}
.country li{
    width:180px;
    background:#ddd;
}
.country{
    border:1px solid darkred;
}
.country li a{
    padding-left:30px;
}
.country li a:link{
    color:black;
}
.country li a:visited{
    color:black;
}
.country li:hover{
    background: #BE4E48;
}
.menu {
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
}
.menu div{
    padding-right:100px;
}
.menu ul,.menu li{
    list-style-type: none;
}
.menu button{
    width:180px;
    height:30px;
    background: #BE4E48;
    border-style: none;
}
.menu button:hover{
    background:#E74F4D;
}
.menu{
    margin-top:30px;
}
.wall-painting{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    background: #F7F7F7;
}
.painting{
    text-align: center;
    margin-top:50px;
    padding-right:60px;
}
.painting img{
    border: 4px solid white;
}
.painting h1{
    font-size:34px;
}
.painting p{
    font-size:14px;
    color:#A4A5A5
}
.beijing{
    display:flex;
}
.beijing-left{
    background: url(../images/task7/beijing.gif) no-repeat left;
    width:850px;
    height:566px;
    color:white;
}
.beijing-left h2{
    font-size:60px;
    padding:100px 100px 10px 330px;
}
.beijing-left h1{
    font-size:150px;
    padding:0px 100px 40px 230px;
}
.beijing-left p{
    padding:0px 0px 0px 350px;
}
.beijing-right-text{
  padding:150px 50px;
}
.beijing-right-text h1{
    font-size:24px;
    text-align:center;
    line-height:40px;
}
.beijing-right-text p{
    font-size:10px;
    line-height:20px;
    color:#999;
    padding-bottom:50px;
}
.text-btn{
    width:100px;
    height:30px;
    border:1px solid #E74F4E;
    background: white;
    margin-left:110px;
}
.circle{
    width:10px;
    height:10px;
    border-radius: 10px;
    border:1px solid black;
    margin-right:10px;
}
.circle-box{
    padding-top:30px;
    display:flex;
    justify-content: center;
}
.cir-btn{
    background: #ddd;
}
.female{
    background: url(../images/task7/female.gif)no-repeat center;
    background-size: cover;
    width:498px;
    height:520px;
}
.about{
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-start;

}
.red{
    width:425px;
}
.white{
    width:425px;
}
.red p{
    color:white;
    text-align: center;
    padding:200px 100px 30px;
}
.red .line{
    border-top:2px solid white;
    width:40px;
    height:5px;
    margin:0 auto;
}
.red button{
    border:2px solid white;
    width:100px;
    height:40px;
    background: #E74F4D;
    color:white;
    margin-left:160px;
    margin-top:30px;
}
.white p{
    color:black;;
    text-align: center;
    padding:200px 100px 30px;
}
.white .line{
    border-top:2px solid black;
    width:40px;
    height:5px;
    margin:0 auto;
}
.white button{
    border:2px solid #E74F4D;
    width:100px;
    height:40px;
    background: white;
    color:#E74F4D;
    margin-left:160px;
    margin-top:30px;
}
.join{
    text-align:center;
    padding:100px;
}
.join .line{
    border-top:2px solid #E74F4D;
    width:40px;
    height:5px;
    margin:0 auto;;
}
.join h1 {
    font-size: 20px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.join p{
    font-size:12px;
    line-height: 16px;
    color:#AAAAA9;
    margin-top:10px;
}
.terms{
    list-style: none;
    float:left;
    margin-right:20px;
}
.input1{
    width:360px;
    height:40px;
    margin-right:50px;
    margin-bottom:20px;
}
.terms h1{
    font-size:18px;
}
.terms p{
    font-size:12px;
    color:#AAAAA9;
}
.terms span{
    color:#AAAAA9;
    background:url(../images/task7/more.jpg) no-repeat left;
    background-size: 10px 5px;
    margin-left:200px;
}
.terms li{
    padding-bottom: 30px;
}
.apply{
    padding:40px 100px;
}
.input2{
    width:780px;
    height:70px;
}
.info button{
    width:780px;
    height:30px;
    margin-top:15px;
    font-size:16px;
    border-style: none;
    margin-bottom:50px;
}
.info input,.info textarea,.info button{
    background: #EDEDEE;
}
.contact{
    text-align:center;
    background: #32353E;
    color:white;
    padding-top:40px;
    height:260px;
}
.contact p{
    padding:10px 0;
}
.contact input{
    width:400px;
    height:30px;
}
.contact button{
    width:44px;
    height:33px;
    margin-left:-5px;
    border-style: none;
}
.contact-us{
    margin:30px;
}
footer{
    background: #303039;
    color:white;
    padding:20px;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
footer a{
    color:white;
    text-decoration: none;
    padding-left:820px;
}