*{
    margin:0;
    padding:0;
}
body{
    font-family:"Microsoft YaHei", sans-serif;
    background:black;
    color:white;
}
main{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
#canvas{
    float:left;
    outline:1px solid blue;
}
section{
    float:right;
}
aside{
    border:1px solid blue;
    height:266px;
    text-align: center;
}